streamlit==1.33.0
pandas==2.2.2
spacy==3.7.4
scispacy==0.8.0
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.8.0/en_core_sci_md-0.8.0.tar.gz
transformers==4.40.1
reportlab==4.1.0
pypdf2==3.0.1
cryptography==42.0.5
python-dotenv==1.0.1